:root {
  --neutral-950: #0000;
  --neutral-300: #D8D8D8;
  --neutral-0: #FFFFFF;

  --aqua-100: #B1D5E2;
  --aqua-50: #DEF4FC;

  --navy-950: #070724;
  --teal-400: #1EC1A2;
  --purple-600: #6D2ED5;
  --bronze-700: #B87D43;
  --red-500: #D83A34;
  --orange-600: #FFC97C;
  --amber-400: #EDA249;
  --blue-600: #2D68F0;
  --sky-400: #419EBB;
}

body {
  margin: 0;
  background-color: var(--navy-950);
  color: var(--neutral-0);
  font-family: 'Antonio', sans-serif;
}


.desktop-toggle {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

  @media screen and (min-width: 1024px) {
    width: 350px;
  }


}

/* Mobile */

.mobile-header-container {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 25px;
  color: var(--neutral-0);
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);

  h1 {
    font-size: 28px;
    font-weight: 300;
  }

  img {
    opacity: 0.5;
    width: 24px;
  }


}

.mobile-menu.closed {
  display: none;
}

.mobile-menu.open {
  display: block;
  position: absolute;
  background-color: var(--navy-950);
  width: 100%;
  z-index: 1;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  padding: 24px 44px;
  margin: 0;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 32px;
  }

  a:link,
  a:visited {
    color: var(--neutral-0);
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 2px;
  }

}

.desktop-header {

  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
  }

  @media screen and (min-width: 1024px) {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 4rem 0 4rem;
  }

}

.chevron {
  width: 6px;
  height: 10px;
}

.circle {
  height: 20px;
  width: 20px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 1rem 0 1rem 0;
  width: 100%;
}

.menu-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
}

.menu-item-line:not(:last-child) {
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 10px;
}


.btn.active {
  border: none;
  background-color: var(--sky-400);
  width: 281px;
  text-align: left;
  color: var(--neutral-0);
  padding: 0px 20px;
  display: flex;
  gap: 1rem;

  @media screen and (min-width: 1024px) {
    width: 350px;

    p {
      font-size: 12px;
      text-transform: uppercase;
    }

  }


}

.btn {
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  background-color: transparent;
  width: 281px;
  text-align: left;
  color: var(--neutral-0);
  padding: 0px 20px;
  display: flex;
  gap: 1rem;

  @media screen and (min-width: 1024px) {
    width: 350px;
  }

  p {
    font-size: 12px;
    text-transform: uppercase;
  }


}

.planet-page {
  background-image: url(assets/background-stars.svg);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;

  @media screen and (min-width: 768px) {
    margin: 0 4rem 0 4rem;
    gap: 3rem;
  }

  @media screen and (min-width: 1024px) {
    margin: 5rem 4rem 10rem 5rem;
    gap: 5rem;
  }

}

.planet-page-container {


  @media screen and (min-width: 1024px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 60%;
  }

}

/* Planet menu */

.planet-menu {
  display: flex;
  gap: 40px;
  padding: 24px 0 0 0;
  align-items: center;
  justify-content: center;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
  width: 100%;

  @media screen and (min-width: 768px) {
    display: none;
  }

}

.active {
  border-bottom: 4px solid var(--sky-400) !important;
  padding-bottom: 8px;
}

.not-active {
  opacity: 0.5;
}

.planet-menu button {
  background: none;
  border: none;
  color: var(--neutral-0);
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 10px;
}

.planet-image {
  height: 182px;
  margin-top: 70px;

  @media screen and (min-width: 768px) {
    margin-bottom: 80px;
  }

  @media screen and (min-width: 1024px) {
    margin-top: 0;
    height: 290px;
  }

}

.image-container {

  @media screen and (min-width: 320px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
}

.planet-image img {
  width: 111px;
  display: flex;
  justify-content: center;

  @media screen and (min-width: 768px) {
    width: 184px;
  }

  @media screen and (min-width: 1024px) {
    width: 290px;
  }
}

.planet-image img:nth-last-of-type(-n+2):not(:nth-child(odd)) {
  width: 82px;
  position: relative;
  bottom: 2rem;
  left: 0rem;

  @media screen and (min-width: 768px) {
    width: 122px;
    bottom: 3rem;
  }

  @media screen and (min-width: 1024px) {
    width: 163px;
    bottom: 4rem;
  }


}

.planet-content {
  text-align: center;
  padding: 30px;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }

  @media screen and (min-width: 1024px) {
    flex-direction: column;
    gap: 3rem;
    justify-content: unset;
    width: 350px;
  }

}

.planet-text-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    width: 50%;
    text-align: left;
    gap: 0px;

    h2 {
      font-size: 48px;
      margin: 0;
    }

  }

  @media screen and (min-width: 1024px) {
    width: 100%;

    h2 {
      font-size: 80px;
      margin: 0;
    }
  }

}

.link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: var(--neutral-0);
  opacity: 0.5;


  @media screen and (min-width: 768px) {
    justify-content: flex-start;

  }

  a:link {
    color: var(--neutral-0);
    opacity: 0.5;
  }

}

.info-card-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  align-items: center;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 10px;
    justify-content: center;
  }


}

.info-card {
  display: flex;
  justify-content: space-between;
  width: 80%;
  gap: 20px;
  padding: 5px 25px;
  border: 1px solid var(--neutral-300);
  align-items: center;

  @media screen and (min-width: 768px) {
    width: 200px;
    flex-direction: column;
    gap: 8px;
    padding: 0 0 0 20px;
    align-items: unset;
  }

  @media screen and (min-width: 1024px) {
    width: 255px;
    height: 128px;
    gap: 15px;
    justify-content: center;
  }

}

.info-card-text {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 400;
  color: var(--neutral-0);
  opacity: 0.5;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }

  @media screen and (min-width: 1024px) {
    font-size: 16px;
    margin: 0;
  }


}

.info-card-value {
  font-size: 20px;
  font-weight: 700;
  color: var(--neutral-0);

  @media screen and (min-width: 768px) {
    margin-top: 0;
  }

  @media screen and (min-width: 1024px) {
    font-size: 40px;
    margin: 0;
  }

}